<?xml version="1.0" encoding="utf-8"?>
<Applications>
	<Application>
		<PackageFolderName>SafeAuto.Web.Static_Package</PackageFolderName>
		<Name>SafeAuto.Web.Static</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/Static</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>	
	<Application>
		<PackageFolderName>SafeAuto.Web_Package</PackageFolderName>
		<Name>SafeAuto.Web</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/Quote</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.Web.PM_Package</PackageFolderName>
		<Name>SafeAuto.Web.PM</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/PM</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.Web.QuickPay_Package</PackageFolderName>
		<Name>SafeAuto.Web.QuickPay</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/Pay</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.EDocumentPreference.Asmx_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.EDocumentPreference.Asmx</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/EDocPreferenceService/ASMX</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.EDocumentPreference_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.EDocumentPreference</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/EDocPreferenceService/WCF</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.Ivr_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.Ivr</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/ivr</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.NotificationService_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.NotificationService</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/NotificationService</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.PolicyData_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.PolicyData</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/PolicyData</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.Rating_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.Rating</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/rating</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WebServices.VINService_Package</PackageFolderName>
		<Name>SafeAuto.WebServices.VINService</Name>
		<Deployment>
			<DeploymentType>WebApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<SiteName>Default Web Site</SiteName>
					<InstallationPath>Default Web Site/6107/vin</InstallationPath>
					<Username>DefaultWebSite</Username>
					<Password>HQWEBDEV01</Password>
				</Server>
			</Servers>			
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WinServices.DocumentManagementMonitor_Package</PackageFolderName>
		<Name>SafeAuto.WinServices.DocumentManagementMonitor</Name>
		<Deployment>
			<DeploymentType>WindowsServiceApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>					
					<ServiceName>SafeAuto.WinServices.DocumentManagementMonitor</ServiceName>
					<KeePassGroup>Service Accounts/Production</KeePassGroup>
					<!-- Note the space on the end.  This is how it is defined in KeePass -->
					<KeePassTitle>Winservice - Document Management Monitor </KeePassTitle>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WinServices.CreditReportBatch_Package</PackageFolderName>
		<Name>SafeAuto.WinServices.CreditReportBatch</Name>
		<Deployment>
			<DeploymentType>WindowsServiceApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<ServiceName>SafeAuto.WinServices.CreditReportBatch</ServiceName>
					<KeePassGroup>Service Accounts/Production</KeePassGroup>
					<KeePassTitle>Winservice - Credit Report Batch Web Service</KeePassTitle>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WinServices.EventProcessor_Package</PackageFolderName>
		<Name>SafeAuto.WinServices.EventProcessor</Name>
		<Deployment>
			<DeploymentType>WindowsServiceApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<ServiceName>SafeAuto.WinServices.EventProcessor</ServiceName>
					<KeePassGroup>Service Accounts/Production</KeePassGroup>
					<KeePassTitle>Winservice - Event Processor</KeePassTitle>
				</Server>
			</Servers>
		</Deployment>
	</Application>
	<Application>
		<PackageFolderName>SafeAuto.WinServices.RatingPersistence_Package</PackageFolderName>
		<Name>SafeAuto.WinServices.RatingPersistence</Name>
		<Deployment>
			<DeploymentType>WindowsServiceApplication</DeploymentType>
			<Servers>
				<Server>
					<Name>HQWEBDEV01</Name>
					<ServiceName>SafeAuto.WinServices.RatingPersistence</ServiceName>
					<KeePassGroup>Service Accounts/Production</KeePassGroup>
					<KeePassTitle>Winservice - Rating Persistence Service</KeePassTitle>
				</Server>
			</Servers>
		</Deployment>
	</Application>
</Applications>